<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42A10EC51C18A9E100269B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A10EDE1C18A9E200269B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A10EE91C18A9E200269B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
